<a href="https://colab.research.google.com/github/sushmitha27kadam/Movie-Recommender-System/blob/main/movie_recommendation_system_using_tfidfvectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **In this machine learning project, we built a recommendation system from the ground up to suggest movies to the user based on his/her preferences.**

# **What is a Recommendation System?**
Recommendation systems are computer programs that suggest recommendations to users depending on a variety of criteria.


These systems estimate the most likely product that consumers will buy and that they will be interested in. Netflix, Amazon, and other companies use recommender systems to help their users find the right product or movie for them.


**There are 3 types of recommendation systems.**

**Demographic Filtering:** The recommendations are the same for every user. They are generalized, not personalized. These types of systems are behind sections like “Top Trending”.

**Content-based Filtering:** These suggest recommendations based on the item metadata (movie, product, song, etc). Here, the main idea is if a user likes an item, then the user will also like items similar to it.

**Collaboration-based Filtering:** These systems make recommendations by grouping the users with similar interests. For this system, metadata of the item is not required.






































## Content-based Recommendation System
Content-based filtering is a widely used technique in recommendation systems. In this approach, the system leverages the features and preferences you've provided to suggest items that align with your interests. It draws upon the data you've shared online and any information it can gather to offer personalized recommendations.

The fundamental idea behind content-based filtering is to categorize products using specific keywords, learn about your preferences, search for those terms in its database, and then propose similar items. This type of recommender system heavily relies on user inputs. Examples of platforms using content-based filtering include Google and Wikipedia.

![image.png]()

Example

Let's say I'm a fan of the Harry Potter series and mainly watch fantasy movies online. When my data is collected from sources like Google or Wikipedia, it becomes evident that I have a preference for fantasy films. Consequently, my recommendations will be filled with fantasy movies. From the entire pool of movies, the system will curate and recommend the ones that best match my preferences.

For instance, if there are two movies available for recommendation – "Fantastic Beasts" and "Shawshank Redemption" – based on my love for fantasy movies, "Fantastic Beasts" will be recommended to me.

How Does It Work?

![image.png]()

The Vector Space Method

Imagine you've read an Agatha Christie crime thriller book and posted a review online. Additionally, you've reviewed another book in the comedy genre, rating the crime thriller highly and the comedy book poorly.

This information is used to create a rating system. In this system, genres like crime thriller and detective stories receive a high rating (e.g., 9), while other serious genres have ratings from 9 down to 0, and comedy genres are rated lower, possibly in negative values.

Using this rating system, the next book recommendations you receive will likely be in the crime thriller genre because it's your highest-rated genre. A user vector is established to quantify your preferences. Simultaneously, an item vector is constructed to rank books based on their genres.

Each book is assigned a value by calculating the dot product of your user vector and the item vector. These values are then used for making recommendations.

This approach ranks all the books you've searched for by computing the dot products and presents the top 5 or 10 books as suggestions.

The vector space method was among the initial techniques used in content-based recommendation systems for suggesting items to users.

In this project, we are building a Content-based recommendation system for movies.

** The approach to build the movie recommendation engine consists of the following steps.**

>**Perform Exploratory Data Analysis (EDA) on the data**

>**Build the recommendation system**

>**Get recommendations**

# **Step 1: Perform Exploratory Data Analysis (EDA) on the data**
The dataset contains all the metadata information about the movie like id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language original_title, overview, popularity...etc

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
 #datasetlink: https://drive.google.com/file/d/142ixAWUKLeMjESbEsXzpKvzsRvYvaBWL/view?usp=sharing

Let’s load the movie dataset using pandas.

In [ ]:
# Load the dataset
movie_df = pd.read_csv('/content/drive/MyDrive/data imdb/imdb_data.csv')

In [ ]:
# Print the first 5 rows of the dataframe.
movie_df.head(5)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
movie_df.shape
print(f'No of rows:', movie_df.shape[0])
print(f'No of columns:', movie_df.shape[1])

No of rows: 3000
No of columns: 23

In [ ]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

We only need the imdb_id, title,overview, genres, Keywords, cast, and crew columns of the dataframe

In [ ]:
movies_data = movie_df[['imdb_id','title','overview','genres','Keywords','cast','crew']]

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

Our new dataframe would be:

In [ ]:
movies_data

        imdb_id                                              title  \
0     tt2637294                             Hot Tub Time Machine 2
1     tt0368933           The Princess Diaries 2: Royal Engagement
2     tt2582802                                           Whiplash
3     tt1821480                                            Kahaani
4     tt1380152                                         Marine Boy
5     tt0093743             Pinocchio and the Emperor of the Night
6     tt0431021                                     The Possession
7     tt0391024                                       Control Room
8     tt0117110                             Muppet Treasure Island
9     tt0310281                                      A Mighty Wind
10    tt0075148                                              Rocky
11    tt0093857         Revenge of the Nerds II: Nerds in Paradise
12    tt0169547                                    American Beauty
13    tt0377471                                            Be Cool
14    tt0181689                                    Minority Report
15    tt1129437                                           Skinning
16    tt0421239                                            Red Eye
17    tt1700845                                The Invisible Woman
18    tt1487118                                        Chalet Girl
19    tt0388482                                      Transporter 2
20    tt0120738                                      Lost in Space
21    tt0083972                           Friday the 13th Part III
22    tt2105044                                              V/H/S
23    tt1687277                                            InSight
24    tt0779982                                        Black Sheep
25    tt0104139                                        Dr. Giggles
26    tt0120176                               The Spanish Prisoner
27    tt1486834                                            What If
28    tt0092106                        The Transformers: The Movie
29    tt0264472                                     Changing Lanes
30    tt1675434                                   The Intouchables
31    tt0387898                                              Caché
32    tt1618442                              The Last Witch Hunter
33    tt2926810                                    ABCs of Death 2
34    tt0293564                                        Rush Hour 3
35    tt1656190                                               Safe
36    tt0199314                                         About Adam
37    tt0114069                                           Outbreak
38    tt2710368                                 Final: The Rapture
39    tt0059418                                       Major Dundee
40    tt0380268                                    Cocaine Cowboys
41    tt0061512                                     Cool Hand Luke
42    tt0156841                                The Next Best Thing
43    tt2933544                                       5 Flights Up
44    tt0372532                                   The Wedding Date
45    tt1379222                                    The Double Hour
46    tt0438097                              Ice Age: The Meltdown
47    tt3460252                                  The Hateful Eight
48    tt1781058                                             Wilson
49    tt0111280                             Star Trek: Generations
50    tt0948530                                    Moscow, Belgium
51    tt0059243                                     The Great Race
52    tt0081031                      The Last Flight of Noah's Ark
53    tt0095169                                          For Keeps
54    tt3231054                                              Risen
55    tt0108186                                         Son in Law
56    tt1082009                                      Queen to Play
57    tt0118688                                     Batman & Robin
58    tt0476991                                Were The World Mine
59    tt0278295                            All About the Benjamins
60    tt0381061                                      Casino Royale
61    tt0049875                                            Trapeze
62    tt0119099                                             Fallen
63    tt0097388   Friday the 13th Part VIII: Jason Takes Manhattan
64    tt1821549                                           Nebraska
65    tt0092675                                         Bloodsport
66    tt1220888                                      Henry's Crime
67    tt2852400                                     A Touch of Sin
68    tt0056592                              To Kill a Mockingbird
69    tt0463985              The Fast and the Furious: Tokyo Drift
70    tt0366627                                         The Jacket
71    tt0318462                             The Motorcycle Diaries
72    tt0099329                                           Cry-Baby
73    tt0402906                                        Czech Dream
74    tt0074706                                Jackson County Jail
75    tt1438176                                       Fright Night
76    tt0242572                          Kandukondain Kandukondain
77    tt0080487                                         Caddyshack
78    tt0083064                                   Sharky's Machine
79    tt3835080                                                 31
80    tt0279331                                          Dark Blue
81    tt0338427                                           Shopgirl
82    tt0397101                                   The Skeleton Key
83    tt0086837                                               2010
84    tt1767382                                       Silent House
85    tt0112715                                              Congo
86    tt0079417                                  Kramer vs. Kramer
87    tt0113326                                Rumble in the Bronx
88    tt1730768                               The Zookeeper's Wife
89    tt0108185                                          Sommersby
90    tt0266697                                  Kill Bill: Vol. 1
91    tt0274497                                    His Secret Life
92    tt0113362                           The Horseman on the Roof
93    tt0986233                                             Hunger
94    tt0166924                                   Mulholland Drive
95    tt2569398                  And Here's What's Happening to Me
96    tt1683921                                    Sleepless Night
97    tt1772980                                             Target
98    tt1764625                             Tad, the Lost Explorer
99    tt0094894                                             Colors
100   tt0099817                                         Dark Angel
101   tt0268978                                   A Beautiful Mind
102   tt1193460                                  Going by the Book
103   tt1870529                                    Won't Back Down
104   tt3477064                                     Recep İvedik 4
105   tt2404181                                              Belle
106   tt1244659                             Extraordinary Measures
107   tt0112573                                         Braveheart
108   tt0122541                                   An Ideal Husband
109   tt0060491                                             Hawaii
110   tt0219965                                            Bandits
111   tt0361841                                  Little Black Book
112   tt1390411                            In the Heart of the Sea
113   tt0094746                                       Biloxi Blues
114   tt0120737  The Lord of the Rings: The Fellowship of the Ring
115   tt0279493                                 Undercover Brother
116   tt2113822                                       Back to 1942
117   tt0486946                                          Wild Hogs
118   tt0106471                                      Boxing Helena
119   tt0117786                                       Mr. Nice Guy
120   tt0266915                                        Rush Hour 2
121   tt0120855                                             Tarzan
122   tt0100053                                      Loose Cannons
123   tt0165929                                     Romeo Must Die
124   tt1022603                               (500) Days of Summer
125   tt0889588                          The Children of Huang Shi
126   tt0077372                                    Corvette Summer
127   tt0219699                                           The Gift
128   tt0432291                                            The Fog
129   tt0116404                                     Get on the Bus
130   tt0469021                         Alan Partridge: Alpha Papa
131   tt1582271                                    The Good Doctor
132   tt0264578  The Endurance: Shackleton's Legendary Antarcti...
133   tt1231583                                           Due Date
134   tt0425413                                   Run, Fatboy, Run
135   tt0466399                                         Ten Canoes
136   tt1894561                                 Cowgirls n' Angels
137   tt0110759                                                PCU
138   tt1323045                                             Frozen
139   tt0290334                                                 X2
140   tt0063642                                              Star!
141   tt0335119                          Girl with a Pearl Earring
142   tt3859304                                         The Bronze
143   tt0865554                                      The Informers
144   tt0062467                                    Wait Until Dark
145   tt1290138                                       Frank & Lola
146   tt0095882           Police Academy 5: Assignment Miami Beach
147   tt1706620                                        Snowpiercer
148   tt0103786                                          Beethoven
149   tt1507563                                          Dark Tide
150   tt0081760                                         Windwalker
151   tt5278464                                          Holy Hell
152   tt0098061                                         Paperhouse
153   tt3181822                                  The Boy Next Door
154   tt0084867                                          Vigilante
155   tt0280030                               Return to Never Land
156   tt0415678                                       Shadowboxing
157   tt0109098                     American Cyborg: Steel Warrior
158   tt0208988                                         Get Carter
159   tt0114214                             The Quick and the Dead
160   tt0380817                                     Winter Passing
161   tt0094846                                        Casual Sex?
162   tt1742336                               Your Sister's Sister
163   tt0128445                                           Rushmore
164   tt0444682                                        The Reaping
165   tt0099656                                 Ghosts Can't Do It
166   tt0085809                                      Koyaanisqatsi
167   tt0404032                         The Exorcism of Emily Rose
168   tt0072081                     The Return of the Pink Panther
169   tt0082694                        Mad Max 2: The Road Warrior
170   tt0089822           Police Academy 2: Their First Assignment
171   tt0093223                                     House of Games
172   tt0060490                                             Harper
173   tt0102782                          Return to the Blue Lagoon
174   tt1640711                                     A Few Best Men
175   tt0232500                           The Fast and the Furious
176   tt0134983                                          Supernova
177   tt0118762                                        Boys Life 2
178   tt0083944                                        First Blood
179   tt0097742                                    Licence to Kill
180   tt0482572                                    Pride and Glory
181   tt0318411                              The Magdalene Sisters
182   tt0102598                                    Only the Lonely
183   tt1436045                                       13 Assassins
184   tt0389860                                              Click
185   tt0119579     Love's Deadly Triangle: The Texas Cadet Murder
186   tt0425601                       Trailer Park Boys: The Movie
187   tt0019563                                   West of Zanzibar
188   tt0910970                                             WALL·E
189   tt2465140                               The Single Moms Club
190   tt0116514                              Hellraiser: Bloodline
191   tt1586265               What to Expect When You're Expecting
192   tt2112096                     Absolutely Fabulous: The Movie
193   tt0086192                               Revenge of the Ninja
194   tt0808526                                Life During Wartime
195   tt0997246                               The Song of Sparrows
196   tt0097008                                   Cameron's Closet
197   tt0443632                                       The Sentinel
198   tt0217756                                    Ready to Rumble
199   tt1600196                                           The Drop
200   tt0413895                                    Charlotte's Web
201   tt0097257                               Earth Girls Are Easy
202   tt1621039                                         Free Birds
203   tt0462538                                 The Simpsons Movie
204   tt0089730                                        Once Bitten
205   tt3268668                                            Captive
206   tt0102592                                     One False Move
207   tt0113820            Mighty Morphin Power Rangers: The Movie
208   tt0109327                                          Brainscan
209   tt0317648                                            Hidalgo
210   tt0118604                      An American Werewolf in Paris
211   tt0073195                                               Jaws
212   tt0106877                                        Father Hood
213   tt2077833                                      Rowdy Rathore
214   tt1491044                                         The Iceman
215   tt2024432                                     Identity Thief
216   tt3331846                               Stand by Me Doraemon
217   tt0083131                                            Stripes
218   tt0081590  Sällskapsresan - eller finns det svenskt kaffe...
219   tt0389326                                      Riding Giants
220   tt1124052                             City of Life and Death
221   tt0102343                                  Love Potion No. 9
222   tt1291549                                 Meet Monica Velour
223   tt0103772                                     Basic Instinct
224   tt5661030                       Gary Gulman: It's About Time
225   tt0277941                                          Ned Kelly
226   tt1502404                                        Drive Angry
227   tt1174732                                       An Education
228   tt0065214                                     The Wild Bunch
229   tt0113463                                 Jefferson in Paris
230   tt0327437                        Around the World in 80 Days
231   tt0108000                                   Ruby in Paradise
232   tt2392326                                        Le Week-End
233   tt1517252                                         Sweetgrass
234   tt1212428                                 The Lost City of Z
235   tt0768212                                     The Last Mimzy
236   tt0117826                                  Bordello of Blood
237   tt0076001                               The National Shotgun
238   tt0099653                                              Ghost
239   tt0303933                                           Drumline
240   tt0118900                                       Gang Related
241   tt0884726                    Legends of Oz: Dorothy's Return
242   tt1474276                                        Summer Wars
243   tt0113321                              Home for the Holidays
244   tt0079489                                 Love at First Bite
245   tt1135985                                          Sex Drive
246   tt0110475                                           The Mask
247   tt0363163                                           Downfall
248   tt0244244                                          Swordfish
249   tt0077413                                  Death on the Nile
250   tt0214289                              Would I Lie to You? 2
251   tt0112760                                   Cutthroat Island
252   tt0331953                                         Club Dread
253   tt2475802                                        Delhi Dance
254   tt2244376                                          Voracious
255   tt2170299                                          Bad Words
256   tt2719848                                            Everest
257   tt0049452                                     Love Me Tender
258   tt0113568                                 Ghost in the Shell
259   tt0169302                                      The Terrorist
260   tt0096003                                   Rocket Gibraltar
261   tt0449089                                                 RV
262   tt1270842                                     Norwegian Wood
263   tt0092746                                        Cherry 2000
264   tt0360130                                           Undertow
265   tt0307901                                          25th Hour
266   tt0758758                                      Into the Wild
267   tt0109445                                             Clerks
268   tt0457495                                       Stormbreaker
269   tt1092004        Glass: A Portrait of Philip in Twelve Parts
270   tt1650043                Diary of a Wimpy Kid: Rodrick Rules
271   tt0415306        Talladega Nights: The Ballad of Ricky Bobby
272   tt0100114                                   Marked for Death
273   tt1392197                                          Marmaduke
274   tt0128853                                    You've Got Mail
275   tt1824254           We Steal Secrets: The Story of WikiLeaks
276   tt1361809                                          Arundhati
277   tt0120828                              Six Days Seven Nights
278   tt4437216                                               Goat
279   tt0369339                                         Collateral
280   tt0200469                                               Bats
281   tt1259521                             The Cabin in the Woods
282   tt0120722                                    Living Out Loud
283   tt0869994                                              Paris
284   tt1855199                                       End of Watch
285   tt0120199                                     Space Truckers
286   tt4972582                                              Split
287   tt0109758                                       Exit to Eden
288   tt0326769                                         Biker Boyz
289   tt0111419                                         Thumbelina
290   tt0109831                        Four Weddings and a Funeral
291   tt0427470                                        The Lookout
292   tt1809398                                           Unbroken
293   tt0119815                             Four Days in September
294   tt1951266              The Hunger Games: Mockingjay - Part 2
295   tt1399952                  The Inhabited Island 2: Rebellion
296   tt0259288                                          Dragonfly

In [ ]:
movies_data.isnull().sum()

imdb_id       0
title         0
overview      8
genres        7
Keywords    276
cast         13
crew         16
dtype: int64

In [ ]:
#For removing rows with NaN values:
movies_data.dropna(axis=0, how='any', inplace=True)

<ipython-input-10-c7f6ca0232a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data.dropna(axis=0, how='any', inplace=True)

In [ ]:
movies_data.dropna(inplace=True)

<ipython-input-11-c2ebfc670e68>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data.dropna(inplace=True)

In [ ]:
# Count the number of duplicate rows in the DataFrame
print(f'No of duplicate rows in the df:', movies_data.duplicated().sum())

No of duplicate rows in the df: 0

# **Step 2: Build the Movie Recommender System**

The accuracy of predictions made by the recommendation system can be personalized using the description of the movie.

Let’s say the query to our movie recommendation system  is “The Dark Knight Rises”. Then the predictions should also include movies directed by the director of the film. It should also include movies with the cast of the given query movie.


For that, we utilize the following features to personalize the recommendation: cast, crew, keywords, genres.

The movie data is present in the form of lists containing strings, we need to convert the data into a safe and usable structure.

 Let’s apply the literal_eval() function to the features.

In [ ]:
import ast

In [ ]:
features = ["cast", "crew", "Keywords", "genres"]


for feature in features:
    movies_data[feature] =  movies_data[feature].fillna('[]').apply(ast.literal_eval)

movies_data[features].head(10)

<ipython-input-14-5a4ad4da2068>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data[feature] =  movies_data[feature].fillna('[]').apply(ast.literal_eval)

,cast,crew,Keywords,genres
0,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 35, 'name': 'Comedy'}]"
1,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 18, 'name': 'Drama'}]"
3,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n..."
7,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...","[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'id': 99, 'name': 'Documentary'}]"
8,"[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...","[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
9,"[{'cast_id': 24, 'character': 'Jonathan Steinb...","[{'credit_id': '52fe45609251416c750545b3', 'de...","[{'id': 11800, 'name': 'mockumentary'}, {'id':...","[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '..."
10,"[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...","[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'id': 18, 'name': 'Drama'}]"
11,"[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...","[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'id': 35, 'name': 'Comedy'}]"
12,"[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...","[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'id': 18, 'name': 'Drama'}]"

Let’s write some functions to extract information like director from the above features.

The get_director() function extracts the name of the director of the movie.

In [ ]:
def get_director(x):
    for i in x:
        if i["job"] == "Director":
            return i["name"]
    return np.nan

The get_list() returns the top 3 elements.

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i["name"] for i in x]

        if len(names) > 3:
            names = names[:3]

        return names

    return []

Let’s apply both the functions get_director() and get_list() to our dataset.

In [ ]:
movies_data["director"] = movies_data["crew"].apply(get_director)

features = ["cast", "Keywords", "genres"]
for feature in features:
    movies_data[feature] = movies_data[feature].apply(get_list)

<ipython-input-17-595df720d0f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data["director"] = movies_data["crew"].apply(get_director)
<ipython-input-17-595df720d0f7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data[feature] = movies_data[feature].apply(get_list)

In the above code, we passed the “crew” information to the get_director() function, extracted the name, and created a new column “director”.

For the features cast, keyword and genres we extracted the top information by applying the get_list() function

Let’s see how the data looks like after the above transformations.

In [ ]:
movies_data[['title', 'cast', 'director', 'Keywords', 'genres']].head()

,title,cast,director,Keywords,genres
0,Hot Tub Time Machine 2,"[Rob Corddry, Craig Robinson, Clark Duke]",Steve Pink,"[time travel, sequel, hot tub]",[Comedy]
1,The Princess Diaries 2: Royal Engagement,"[Anne Hathaway, Julie Andrews, H√©ctor Elizondo]",Garry Marshall,"[coronation, duty, marriage]","[Comedy, Drama, Family]"
2,Whiplash,"[Miles Teller, J.K. Simmons, Melissa Benoist]",Damien Chazelle,"[jazz, obsession, conservatory]",[Drama]
3,Kahaani,"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...",Sujoy Ghosh,"[mystery, bollywood, police corruption]","[Thriller, Drama]"
7,Control Room,"[Samir Khader, Josh Rushing, George W. Bush]",Jehane Noujaim,"[journalism, translation, television]",[Documentary]

The next step would be to convert the above feature instances into lowercase and remove all the spaces between them.

In [ ]:
def clean_data(row):
    if isinstance(row, list):
        return [str.lower(i.replace(" ", "")) for i in row]
    else:
        if isinstance(row, str):
            return str.lower(row.replace(" ", ""))
        else:
            return ""

features = ['cast', 'Keywords', 'director', 'genres']
for feature in features:
    movies_data[feature] = movies_data[feature].apply(clean_data)

<ipython-input-19-844045279830>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data[feature] = movies_data[feature].apply(clean_data)

Now, let’s create a content_info containing all of the metadata information extracted to input into the vectorizer.

In [ ]:
def content_info(features):
    return ' '.join(features['Keywords']) + ' ' + ' '.join(features['cast']) + ' ' + features['director'] + ' ' + ' '.join(features['genres'])


movies_data["content_info"] = movies_data.apply(content_info, axis=1)
print(movies_data["content_info"].head())

0    timetravel sequel hottub robcorddry craigrobin...
1    coronation duty marriage annehathaway julieand...
2    jazz obsession conservatory milesteller j.k.si...
3    mystery bollywood policecorruption vidyabalan ...
7    journalism translation television samirkhader ...
Name: content_info, dtype: object

<ipython-input-20-8dd83cc7b0bd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data["content_info"] = movies_data.apply(content_info, axis=1)

Our movie recommendation system operates by suggesting movies to users based on metadata information. The similarity between the movies is calculated and then used to make recommendations. For that, our text data should be preprocessed and converted into a vectorizer using TfidfVectorizer . TfidfVectorizer considers the importance of words by weighing them based on their frequency in the document and their rarity across the entire corpus, providing a more nuanced representation of the textual content.

TfidfVectorizer excludes common stopwords like "a," "an," and "the" during the vectorization process to ensure that these frequently occurring words, which may not carry significant meaning, do not influence the results.

Various similarity score functions, including cosine similarity and Pearson correlation coefficient, can be used to measure the likeness between movies. In our system, we employ the cosine similarity score, which is calculated as the dot product of the vectors generated by TfidfVectorizer.

Additionally, we reset the indices of our dataframe to ensure consistency and facilitate further analysis.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Assuming 'content_info' is the column containing movie content information
movies_data['content_info'] = movies_data['content_info'].fillna('')  # Handling missing values

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(movies_data['content_info'])

print(tfidf_matrix.shape)

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print(cosine_sim.shape)

movies_data = movies_data.reset_index()

<ipython-input-21-43a5bc848e75>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['content_info'] = movies_data['content_info'].fillna('')  # Handling missing values

(2705, 8726)
(2705, 2705)

Create a reverse mapping of movie titles to indices. By this, we can easily find the title of the movie based on the index.

In [ ]:
indices = pd.Series(movies_data.index, index=movies_data['title']).drop_duplicates()

print(indices.head())

title
Hot Tub Time Machine 2                      0
The Princess Diaries 2: Royal Engagement    1
Whiplash                                    2
Kahaani                                     3
Control Room                                4
dtype: int64

**Step 3: Get recommendations for the movies**


The get_recommendations() function takes the title of the movie and the similarity function as input. It follows the below steps to make recommendations.

Get the index of the movie using the title.
Get the list of similarity scores of the movies concerning all the movies.
Enumerate them (create tuples) with the first element being the index and the second element is the cosine similarity score.
Sort the list of tuples in descending order based on the similarity score.
Get the list of the indices of the top 10 movies from the above sorted list. Exclude the first element because it is the title itself.
Map those indices to their respective titles and return the movies list.
Create a function that takes in the movie title and the cosine similarity score as input and outputs the top 10 movies similar to it.

In [ ]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    similarity_scores = list(enumerate(cosine_sim[idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[1:11]  # Exclude the movie itself

    movie_indices = [ind[0] for ind in similarity_scores]
    recommended_movies = movies_data['title'].iloc[movie_indices]
    return recommended_movies

print("################ Content Based System #############")
print("Recommendations for Kahaani")
print(get_recommendations("Kahaani"))
print()
print("Recommendations for Avengers")
print(get_recommendations("The Avengers"))

################ Content Based System #############
Recommendations for Kahaani
431     Chandni Chowk To China
1251                 Visaranai
1534          Raman Raghav 2.0
385               The Prestige
2636              The Clearing
1382               High Crimes
82                   Sommersby
307             Kiss the Girls
1613          Personal Shopper
1267                   The Fan
Name: title, dtype: object

Recommendations for Avengers
2499                Avengers: Age of Ultron
1684    Captain America: The Winter Soldier
1371                                 Zodiac
1633                               Margaret
1701                  X-Men: The Last Stand
124                                      X2
1823                Guardians of the Galaxy
572                          Fantastic Four
2507                               Cellular
1973                        The Last Castle
Name: title, dtype: object

#                    **    SUCCESSFULLY COMPLETED THE PROJECT!!**